/target
/target-userspace
/target-coreutils
qemu-infra/target/
qemu-infra/Cargo.lock
mcp-server/target/
/log.txt
/network.pcap
/src/kernel/network.pcap
/.gdb_history
/.gdb-port
/symbols
/.direnv
/.gdb_sources
/headers/musl_headers

__pycache__/
disk.img
userspace/dash/build/
userspace/doom/build/
/result
