/target
/target-userspace
/target-coreutils
qemu-infra/target/
qemu-infra/Cargo.lock
mcp-server/target/
/log.txt
/network.pcap
/src/kernel/network.pcap
/.gdb_history
/.gdb-port
/symbols
/.direnv
/.gdb_sources
/musl
/headers/musl_headers

__pycache__/
disk.img
disk/bin/
disk/init
.indxr-cache/
